<div class="img">
  <img
    src="https://st2.depositphotos.com/3591429/10566/i/600/depositphotos_105666254-stock-photo-business-people-at-meeting-and.jpg"
    class="card-img-top"
    alt="..."
  />

  <div class="card">
    <div class="card-body gap-5">
      <div class="about">
        <h5 class="card-title text-center mb-4">Card title</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia error
          temporibus ducimus itaque quidem! Amet consectetur atque, ab dolores
          error voluptate, possimus tenetur fuga placeat, magnam est? Totam,
          impedit veritatis? Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Ipsam ipsa repellendus optio quam? Doloribus beatae temporibus
          nesciunt enim tempore quod optio dolorem nemo accusantium animi
          quibusdam, quis alias! Cupiditate, tempora? Lorem ipsum dolor sit
          amet, consectetur adipisicing elit. Fugiat sint repudiandae,
          consequatur ea, veniam nisi possimus modi, facere magnam esse velit.
          Voluptatibus magnam est et, deserunt accusamus autem doloribus
          ratione.lorem
        </p>
      </div>
      <div class="contact">
        <h3 class="text-center">Contact Us</h3>
        <div class="row g-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label"
            >Enter your query</label
          >
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Example input placeholder"
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label"
            >Enter your Email</label
          >
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="test@test.com"
          />
        </div>
        <div class="col-12 button">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
